/* Bai 1 */
/* .papper-one{
    width: 776px;

}

.papper-one h2{
    font-size: 176%;
    color: #005a9b;
}
.papper-one p {
    margin-top: 15px;
    margin-bottom: 10px;
}
.papper-two {
    background-color: #fdfaee;
    border-left: 5px solid #dfcb52;
    padding: 20px;
} */

/* bai 2 */
/** {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
.Bt-2{
    width: 630px;
    border: 1px solid black;
}
.name{
    margin-left: 20px;
}
.medium{
    margin: 20px;
}
.red{
    background-color: rgb(214, 214, 200);
    color: red;
}
.Khung1 {
    width: 600px;
    border: 3px solid green;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;

}
.khung2{
    background-color: rgb(227, 230, 233);
    width: 600px;
    margin-left: 20px;
}
.L{
    font-size: larger;
    margin-left: 20px;
}
.khungvidu {
    width: 537px;
    margin-left: 20px;
    background-color: aliceblue;
    border-left: 5px solid rgb(121, 188, 157);
    text-align: left;
}
.canle{
    margin: 20px;
}
.Bro{
    color: brown;
}
.Red {
    color: red;
    margin: 10px;
}
.Blue{
    color: blue;
}
.Bt-2 .Btion {
    font-size: 30;
    margin-left: 20px;
    background-color: rgb(121, 188, 157);
    border-radius: 10px;
} */

/* Bai 3 */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
.Amage {
    width: 470px;
    box-sizing: border-box;
    border: 1px solid black;
}
.Amage img{
    width: 452px;
    margin-left: 7px;
    margin-top: 10px;
}
.Amage h2{
    width: 460px;
    font-weight: 100px;
    font-size: 26px;
    margin-left: 10px;
    margin-top: 15px;
    font-family:'Times New Roman', Times, sans-serif;
}
.Amage p{
    width: 460px;
    font-weight: 100px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family:'Times New Roman', Times, sans-serif;
} */


/* bai 4 */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
.Boss{
    width: 280px;
    border: 1px solid rgb(241, 235, 235);
    padding: 10px;
}

.Daught1{
    width: 260px;
    word-wrap: break-word;
    border: 1px solid rgb(231, 231, 239);
    
}

.Daught1 img{
    width: 258px;
    height: 200px;
    border-radius: 5px;  
    
}

.Tieude {
    margin-left: 15px;
    padding: 10px
}

.Daught1 p{
    margin-left: 15px;
    padding: 10px;
}

.Daught1 a{
    color: rgb(39, 145, 232);
    margin-left: 15px;
    line-height: 50px;
} */

/* Bai 5 */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
.Boss5{
    width: 680px;
    text-align: center;
    border: 1px solid black;
}
.Boss5-x1{
    width: 660px;
    border: 1px solid gainsboro;
    margin: 10px;
    border-radius: 5px;
}
.dong1 {
    padding: 10px;
    background-color: rgb(223, 226, 230);
    font-size: 18px;
}
.dong2{
    font-size: 18px;
    padding: 20px;
}
.Dangnhap button{
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(38, 129, 228);
    border: 1px;
    padding: 10px;
}
.Dangnhap a{
    color: white;
    text-decoration: none;
}
.dongcuoi{
    color: grey;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(223, 226, 230);
} */





